.container {
  color: bisque;
}

.container mark {
  background-color: rgb(7, 7, 55);
  color: white;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: white;
  text-align: center;
  box-shadow: 0 0 7px rgba(22, 19, 81, 0.2);
  border-radius: 4px;
  padding: 10px;
  margin: 30px;
  width: 30%;
  height: 400px;
}

.card img {
  height: 200px;
  width: 200px;
}
